@font-face {
    font-family: 'montserratsemibold_italic';
    src: url('fonts/montserrat-semibolditalic.woff2') format('woff2'),
         url('fonts/montserrat-semibolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratbold';
    src: url('fonts/montserrat-bold.woff2') format('woff2'),
         url('fonts/montserrat-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratlight';
    src: url('fonts/montserrat-light.woff2') format('woff2'),
         url('fonts/montserrat-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratmedium';
    src: url('fonts/montserrat-medium.woff2') format('woff2'),
         url('fonts/montserrat-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratmedium_italic';
    src: url('fonts/montserrat-mediumitalic.woff2') format('woff2'),
         url('fonts/montserrat-mediumitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratregular';
    src: url('fonts/montserrat-regular.woff2') format('woff2'),
         url('fonts/montserrat-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratsemibold';
    src: url('fonts/montserrat-semibold.woff2') format('woff2'),
         url('fonts/montserrat-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.feed-box, .recent-activities{
	border: none;
  background: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0;
}
label {
    display: inline-block;
    margin-bottom: 0px;
    font-size: 14px;
}
.form_tabs .nav-link{
	    font-size: 15px;
    padding: 10px 10px;
    color: #464a4c;
}

.form_tabs .nav-link.active{
	    color: #f7941e;
}
.form_tabs .tab-pane{
	padding-top:20px;
}
.btn-success {
    color: #fff;
    background-color: #f58632;
    border-color: #f58632;
}
.btn-success:hover {
    color: #fff;
    background-color: #7d7d7d;
    border-color: #7d7d7d;
}
.machine-registration .select select {
	font-size: 18px!important;
}
.machine img{
    width: 146px;
    height: 97px;
    text-align: center;
}
.machine{
    width: 100%;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 10px;
}
.home-page.active nav.navbar{
    width: calc(100% - 68px);
}

/*.shrink .sidenav-header img {
  width: inherit;
  margin-left: 156px;
}*/
.entry_time{
    font-size: 13px;
    margin-top: 6px;
}
.entry_time span{
    font-weight: bold;
}
.activities_table{
    height: 215px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.dot_mrgn{
    margin-top: 3px;
}
.status_list{
    list-style: none;
}
.status_list li{
    padding: 9px 0px!important;
}
.status_list span{
        float: right;
    padding: 8px;
    color: #fff!important;
    border-radius: 30px;
    background: #f7941e;
    font-weight: 800!important;
}
.status_card{
    padding: 5px!important;
}
.select_holder{
    background: #fff;
}
.card_status{
    margin-bottom: 20px;
}
.status_list li{
    font-size: 15px;
}
.table_margin{
    margin-top: 30px;
}
.login-page .form-outer, .register-page .form-outer{
    max-width:700px;
}
.login-page form input, .register-page form input {
    border-radius: 30px;
    margin-right: 10px;
    padding: 10px 30px;
    color: #333;
    font-weight: 300;
    border: 1px solid #ddd;
    margin-top: 0px;
}
.btn-block{
    border-radius: 30px;
    padding: 7px;
    font-size: 18px !important;
    font-weight: 500 !important;
    margin-top: 30px;
}
.login-page .form-inner, .register-page .form-inner{
    border-radius: 30px;
}
.form-inner .prag {
    font-size: 18pt;
    font-style: semiblod !important;
    font-weight:sharp !important;
    color: #444444;
    border-bottom: 1px solid #444444;
    padding-bottom: 25px;
}
.login-page .std-arangetrams{
    letter-spacing: 0px;
}
.login-page .std-arangetrams p{
   font-size: 30px;
    font-weight: 600;
    line-height: 27px;
    margin-top: 25px;
    color: #828282;
}
.login-page .std-arangetrams span{
    color: #eb3136;
    font-weight: 600;
    text-align: center;
    font-size: 70px;
}
.last-cont span{
    color: #eb3136;
}
.last-cont {
    margin-top: 10px;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height:20px !important;
    letter-spacing: 0px;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.text-center {
    text-align: left !important;
}
.login-page .logo{
    height: 145px;
    width: 150px;
    margin: 0 auto;
}
.login-page .head{
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 600;
    color: #444444;

}
.logo img{
    padding-bottom: 20px !important;
    width: 100%;
}
.logo h2{
    text-align: center;
}
.logo:after{
   position: absolute;
    content: '';
    width: 77px;
    height: 1px;
    border-bottom: 1px solid #5c5c5c;
    top: 180px;
    left: 100px;
}

.login-page .border{
    border-right: 2px  solid #f2f2f2;
}
.login-page .form-inner{
    padding:30px;
    height: 490px;
    width: 352px;
}
/*#login-form{
    padding:15px;
}*/
nav.navbar a.menu-btn {
    color: #eb3136;
    border: 2px solid #eb3136;
}
nav.navbar a.menu-btn:hover{
    background:#f80000;
}
nav.side-navbar li.active a{
    background:#eb3136;
    border-left: 4px solid #f48534;
}
nav.side-navbar .sidenav-header img{
    width:75%;
    height: 100%;
}
nav.side-navbar .sidenav-header{
    background: #000;
}
nav.side-navbar a:focus, 
nav.side-navbar a:hover,/* nav.side-navbar a[aria-expanded="true"]*/{
     background:#eb3136;
}
nav.side-navbar a:focus, 
nav.side-navbar a:hover, nav.side-navbar a[aria-expanded="true"]{
     background:#eb3136;    
}
nav.side-navbar a[aria-expanded="false"] .arrow{
    transform: rotate(270deg);
}
.container-fluid .display{
    font-size: 18px !important;
    font-weight: 600 !important;
    color: #4c4c4c;
    margin-top: 15px;
}
.course-img1{
    background: url("../images/dashboard-course.jpg") no-repeat right #f8a130;
    padding-bottom: 20px;
}
.align-items-stretch h1{
    font-weight: 600 !important;
    font-size: 20px !important;
}
.course-img2{
    background: url("../images/dashboard-teacher.jpg") no-repeat right #d0463c;
     padding-bottom: 20px;
}
.course-img3{
    background: url("../images/dashbord-students.jpg") no-repeat right #434343;
    padding-bottom: 20px;
}
.align-items-stretch .detail p{
    color: #fff !important;
    font-size: 80px !important;
    padding-left: 70px;
     padding-top: 70px;
    font-weight: 300 !important;
}
.align-items-stretch .detail span{
    color: #fff !important;
    font-size: 24px !important;
    padding-left: 70px;
    text-transform: uppercase;
}
.align-items-stretch .detail .btn{
    margin-left: 70px !important;
    color: #343333;
    background-color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 5px;
    text-transform: uppercase;
}
.align-items-stretch .detail{
line-height: 50px;
}
.align-items-center .display{
    font-weight: 600 !important;
    color: #343333;
     font-size: 18px !important; 
}
nav.navbar .brand-text strong {
    font-size: 16px !important;
    font-weight: 500 !important;
}
.btn-danger{
    font-size: 14px !important;
    font-weight: 600 !important;
}
nav.side-navbar span {  
    font-size: 14px !important;
    font-weight: 400 !important;
}
.section-padding th .fee-amt{
    height: 80px !important;
    width:80px !important;
    background:#f48534;
    border-radius: 50px !important;
    margin: 0 auto !important;
}
tr .fee-amt span{
 font-size:18px !important;
 font-weight: 600 !important;
 color:#fff;
 text-align: center;
 padding-top: 27px !important;
}
tr .fee-amt p{
font-size:12px !important;
 font-weight: 600 !important;
 color:#fff;
 text-align:center; 
}
.table_front{
    margin-top: auto;
}
.login-page .form-group h4:after{
    position: absolute;
    content: '';
    width: 45px;
    height: 1px;
    border-bottom: 2px solid #eb3136;
    top: 51px;
    left: 0px;
}
.login-page .form-group h4{
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 25px;
    font-size: 24px;
    font-weight: 400;
    color: #5c5b5b;
    margin-bottom: 35px;
}
.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 2px transparent;
}
.login-page form, .register-page form{
   margin: 50px auto 0 auto;
}
.Login-footer{
    font-size:16px;
    font-weight: 400;
    color: #ffffff;
    margin-top: -24px;
}
.fa-pencil{
    color: #eb3136;
}
.fa-circle{
    color:  #00a757;
    font-size: 12px !important;
}
.course-fee-list .card-a{
    float: left;
}
.course-fee-list .h3_card{
    text-align: center;
    color: #eb3136;
    text-transform: uppercase;
    font-weight: 700;

}
.course-fee-list .h3_card a{
    margin-left: 0 !important;
}
.card-block .c-code{
text-align: center;
    margin-top: 10px;
}
.course-fee-list .first .btn-danger{
    background: #f48534;
    border: 1px solid #f48534;
    border-radius: 50px;
    height: 40px;
    width: 40px;
}
.course-fee-list ul.nav.nav-tabs{
    border-bottom: none; 
}
/*.course-fee-list .level-fee{
    text-align: center;
}*/
.course-fee-list .table-bordered{
     background: #f6f6f6;
}
.course-fee-list .card .first .nav-item .btn.active{
    background: #eb3136;
    border: 1px solid #eb3136;

} 
.display .btn-secondary{
    color: #eb3136;
    background-color: #fff;
    border-color: transparent;
    float: right;
    font-size: 12px !important;
    font-weight: 400;
    border-radius: 15px;
}  
.course-list .card-block .card_info{
    text-align: center;
}
.course-list .card_info .card-a1{
    float:left;
    mar
}
.course-list .card_info .card-a2{
    float:right;
}
.course-list .card_info .ref{
    margin-top: -15px;
}
/*.course-list .row_pad{
    margin: 15px 50px 0px 50px;
}*/
.course-list .course_name{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.course-list .card_info img{
    vertical-align: middle;
    height: 80px !important;
    width: auto !important;

}
.course-list .show .modal-content .form-field{
    margin: 10px;
}
.course-li-clm {
    padding:0px;
    line-height: 15px;
}
.course-list .cousre-list-tb p{
    font-size: 13px;
    font-weight: 500;
    color: #434343;

}
/*.course-list .cousre-list-tb span {
    font-size: 12px;
    font-weight: 400;
}*/
.registration-fee .card .card-block{
    padding: 15px;
}
.registration-fee .card .card-block a{
    float:right;
    margin-top: -10px;
}
nav.side-navbar li ul.collapse a{
    border-left: 2px solid #eb3136;
}
.registration-fee .fee-details .fee-amt span{
color: #eb3136;
}
.registration-fee .fee-details .paid-date span{
    font-weight: bold;
}
.registration-fee .show .modal-content .form-field{
    margin: 10px;
}
.registration-fee .card .card-block .inactive{
    color: #fff;
    border:1px solid #c3bdbd;
    border-radius: 15px;
}
.fee-due .card_info h5{
    font-size: 15px;
}
.fee-search .form-group .form-control{
    color: #6b6b6b;
    font-size: 14px !important;
    font-weight: 600 !important;
}
.fee-search .sub-mobile{
    margin-top: 20px;
}
.btn-info{
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    background-color: #505050;
    border-color: #505050;
}
.btn-info:hover, .btn-info:active{
    color: #fff;
    background-color: #eb3136;
    border-color: #eb3136;
}
.headerpopup .form-group{
    margin:10px;
}
nav.navbar .dropdown-menu{
    width: 200px;
    margin-top: 0px;
    padding: 15px;
}
nav.navbar .dropdown-menu a{
padding: 0px;
}
nav.navbar .dropdown-menu li{
    margin:10px auto;
}
.modal-header {
    background: #eb3136;
}
.form-field{
    margin: 10px;
}

.col-lg-9.statistics {
    flex: 0 0 77%;
    max-width: 77%;
}
.container-fluid{
    padding: 0 20px;
}
.index_carousel li a.nav-link{
    font-size: 18px;
    font-weight: 600;
}
footer.main-footer p {
    font-size: 11px;
    font-weight: 500;
}

section.updates div[class*="col-"] .wrapper {
    margin-bottom:0px;
}
.table-sm td, .table-sm th {
    padding: 10px 0;
}
/*table td, .table th {
    border-bottom: 1px solid #eceeef;
    border-top:none;
}*/
.section_top {
    padding-top: 70px;
}
.registration-fee .card .card-block .card-a2 .fa{
    font-size: 12px;
}
.fee-list-field{
    padding: 0px 20px;
}
.col-pad{
    padding:0px 5px;
    line-height: 12px;
}
.col-pad  span{
    text-align: center !important;
}
.col-pad p{
    color: #434343 !important; 
    font-weight: 600 !important;
}
.fee-due-pad{
    padding:15px;
}
.fee-search .form-group {
    padding: 0 15px;
}
.fee-search {
    padding: 20px 22px !important;
}
.fee-search .btn_filter{
    margin-top: 15px;
}
.cousre-list-tb{
    text-align:center;
}
.course-popup {
    max-width: 560px;
}
.btn_filter{
    margin-top: 10px !important;
}
.teacherscard .row_pad {
    margin: 0 !important;
    margin-top:0px;
}


@media only screen and (min-width:1024px) and (max-width:1440px){
    /*.course-img1 {
    height: 205px !important;
    background: url(../images/dashboard-course.jpg) no-repeat right #f8a130;
    background-size: unset; 
     }
    .course-img2{
       height: 205px !important;
       background: url(../images/dashboard-teacher.jpg) no-repeat center #d0463c;
       background-size: unset; 
    }
    .course-img3{
       height: 205px !important;
       background: url(../images/dashbord-students.jpg) no-repeat right #434343;
       background-size: unset;
    }*/
    .align-items-stretch .detail p{
        padding-left: 25px;
        padding-top: 40px;
    }
    .align-items-stretch .detail span{
    padding-left: 25px;
  }
  .align-items-stretch .detail .btn{
    margin-left: 25px !important;
    padding: 10px 15px;
  }
  .index-tab{
    padding: 0px 0 0px 0px;

  }
  /*.card.sms_body{
    margin: 20px 165px !important;
  }*/
  .registration-fee .card .card-block{
    padding: 15px;
}
.align-items-stretch .detail{
line-height: 40px;
}
.card_info{
    padding: 10px 0px;    
}
.teacherscard .row_pad .address{
        width: 250px;
        font-size: 13px!important ;
}
.teacherscard .card-block{
    padding: 15px;
}

/*.course-fee-list .table-bordered {
    height: 160px !important;
    max-width: 100% !important;
    overflow: scroll;
    width: 100% !important;
}*/
.fee-due-pad .course_name {
    font-size: 14px;
}
.fee-due-pad .num_std {
    font-size: 14px !important;
}
#advance_pay h1{
    font-size: 15px !important;
}
#advance_pay h2{
    font-size: 14px !important;
}
.h3_card{
    font-size:14px!important; 
}
.reg_no{
    font-size: 14px !important;
}
.card_info .address{
    font-size: 12px !important;              
}
.card_info .phn_no{
    font-size: 12px !important;
}
.card_info .mail{
    font-size: 10px !important;
}
.card-block .sub_tab .nav-link.active{
    font-size: 14px;
}
}
/*laptop view ends*/
nav.side-navbar.shrink span{
    font-size: 0.5em !important;
}
nav.side-navbar.shrink li ul.collapse a{
    font-size: 10px !important;
    padding-left: 0px;
}
.index-page .section-padding{
    padding:0px;
}
.section_top{
padding-top: 60px !important;
}
.table td, .table th{
    border-top:none;
}
.table thead th {
    border-bottom: 1px solid #c2c2c2;
}
.table tbody tr {
    border-bottom: 1px solid #e4e4e4;
}
.cousre-list-tb .row .course-li-clm:nth-child(even){
    border-left: 1px solid #e1e1e1;
}
.fee-due-pad .row .col-pad:nth-child(even){
    border-left: 1px solid #e1e1e1;

}
#advance_pay p {
    border-bottom:2px solid #e1e1e1;;
    padding-bottom: 10px;
}
.reporttable .table-sm td, .table-sm th{
    padding: 7px 0;
}
nav.side-navbar.shrink{
    width: 90px;
}
.page.active {
    width: calc(100% - 90px);
}
.nav.side-navbar{
    overflow: inherit !important;
}

.course-fee-list ul.nav {
    display: inline-block;
}
.course-fee-list   li {
      display: inline;
  }
.pad-bottom{
    padding-bottom: 30px;
}
.card-bottom{
    margin-bottom: 20px;
}
nav.side-navbar .sidenav-header{
    padding: 3px;
}
.sms-section .container-fluid{
    display: flex;
}
nav.side-navbar{
    overflow-y: scroll;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: unset !important;
}
.course-fee-list .tab-content .tbl-content{  
   margin: 0px auto;
    overflow: auto;
}
.card{
    height: 100% !important;
}
.form-control:focus{
    border:1px solid #eb3136 !important;
}
#calendarDiv .monthYearActive {
    background-color: #eb3136 !important;
    color: #fff!important;
}
#calendarDiv{
    border: 1px solid #eb3136 !important;
}
#calendarDiv .selectBox, #calendarDiv .selectBoxOver{
    background: #eb3136 !important;
}
#calendarDiv .topBar{
    padding: 0px !important;
    background-color: #eb3136 !important;
}
#calendarDiv{
    border: 1px solid #eb3136 !important;
}
#calendarDiv .monthYearPicker{
    color: #0c0c0c !important;
}
select>option:hover{
background-color: #eb3136 inset !important;
}
.card .std-lst{
    text-align: center;
}
.card .std-details .details{
    text-align: left;
}
.card .std-lst .reg_no{
    float: left;
}
.card .stud-img{
   height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
} 
.card .std-details{
    border-top: 2px solid #f7f7f7;
}
.card .std-lst .h3_card{
    margin-top: 10px;
}
.bg-danger {
    background-color: #eb3136!important;
}
.login-page .btn-primary {
    color: #fff;
    background-color: #ff9933;
    border-color: #ff9933;
}
.page-item.active .page-link{
    background-color: #ff8333;
border-color: #ff8333;
}
.purchase-add-card .table-bordered{
    margin-top: 20px;
}
#calendarDiv #monthSelect:hover{
    background-color: #ef2525 !important;
}
#calendarDiv #calendar_year_txt:hover {
    background-color: #ef2525!important;
}
#calendarDiv .selectBoxover{
    background-color: #ef2525 !important;
}
.card_inner_image .stud-image{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    position: relative;
    margin: 20px auto;
    background-color: #f1f1f1;
}
.col-lg-2.card_inner_image {
    padding: 0px;
}
.fee-list-field .card_inner_col3 .row{
    min-height: 100%;
}
.fee-list-field .card_inner_col3 .pay_mode h2{
    margin-top: 20px;
}
.page-background{
    background-color: #bab9b9;
}
option{
    font-size: 18px;
}
.modal-footer .btn{
    width:100px;
    height: 40px;
}
